<%- include ('../partials/header_html'); -%>

<head>
	<%- include ('../partials/title_meta'); -%>

	<%- include ('../partials/header_css'); -%>
</head>

<body>
	<div id="page-container"
		class="sidebar-o sidebar-scroll page-header-dark enable-page-overlay side-scroll page-header-fixed">

		<%- include ('../partials/sidebar'); -%>
		<%- include ('../partials/topbar'); -%>

		<!-- Main Container -->
		<main id="main-container">
			<div class="content">
				<!-- Dynamic Table Responsive -->
				<div class="block block-rounded">
					<div class="block-header block-header-default">
						<h3 class="block-title">
							<small>Game Book / Game List 2</small>
						</h3>
						<nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<button type="button" class="btn btn-primary" onclick="addGameList()">
									<i class="fa fa-plus" aria-hidden="true"></i> New Record
								</button>
							</ol>
						</nav>
					</div>
					<div class="block-content block-content-full">
						<!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
						<table id="game_list-tbl" class="table table-bordered table-vcenter js-dataTable-responsive"
							style="font-size: 11px !important;">
							<thead>
								<tr>
									<th class="d-none d-sm-table-cell text-center">GAME No</th>
									<th class="d-none d-sm-table-cell text-center">ACCT No</th>
									<th class="d-none d-sm-table-cell text-center">INTIAL BUY IN</th>
									<th class="d-none d-sm-table-cell text-center">ADDT'L BUY IN</th>
									<th class="d-none d-sm-table-cell text-center">TOTAL AMT</th>
									<th class="d-none d-sm-table-cell text-center">TOTAL ROLLING</th>
									<th class="d-none d-sm-table-cell text-center">CASH OUT</th>
									<th class="d-none d-sm-table-cell text-center">GAME RATE</th>
									<th class="d-none d-sm-table-cell text-center">COMMISSION</th>
									<th class="d-none d-sm-table-cell text-center">WIN/LOSS</th>
									<th class="d-none d-sm-table-cell text-center">GAME END DATE &AMP; TIME</th>
									<th class="d-none d-sm-table-cell text-center">HISTORY</th>

								</tr>
							</thead>
							<tbody class="text-center">
								<!-- <td>209</td>
								<td>OS0001 <br> (LEE SEUNG HUN)</td>
								<td>5</td>
								<td>
									<button class="btn btn-link" style="font-size:11px;" onclick="addBuyin()">10</button>
								</td>
								<td>15</td>
								<td>
									<button class="btn btn-link" style="font-size:11px;" onclick="addRolling()">37.1</button>
								</td>
								<td>1.6%</td>
								<td>0.5936</td>
								<td><button class="btn btn-primary" style="font-size:8px;" onclick="showRollings()">VIEW</button></td>
								<td>3.13</td>
								<td>22 Jun 24 @ 00:26:22</td>
								<td>18.13</td> -->
							</tbody>
						</table>
					</div>
				</div>
				<!-- Dynamic Table Responsive -->
			</div>
			<!-- END Page Content -->
		</main>
		<!-- END Main Container -->

		<%- include ('../modals/game_book/new_game_list') %>
		<%- include ('../modals/game_book/change_status') %>
		<%- include ('../modals/game_book/add_buyin') %>
		<%- include ('../modals/game_book/add_rolling') %>
		<%- include ('../modals/game_book/add_cashout') %>
		<%- include ('../modals/game_book/show_rollings') %>
		<!-- <%- include ('../modals/Junket/edit_capital') %> -->

		<%- include ('../partials/footer') %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="/assets/js/datatables/game_list_tables_datatables.min.js"></script>
		<script src="/assets/js/functions/game_list.js"></script>



		<%- include ('../partials/footer_html'); -%>