<%- include ('partials/header_html'); -%>

<head>
	<%- include ('partials/title_meta'); -%>

	<%- include ('partials/header_css'); -%>
	<link rel="stylesheet" href="assets/js/plugins/select2/css/select2.min.css">

</head>

<body>
	<div id="page-container"
		class="sidebar-o sidebar-scroll page-header-dark enable-page-overlay side-scroll page-header-fixed">

		<%- include ('partials/sidebar'); -%>
		<%- include ('partials/topbar'); -%>

		<!-- Main Container -->
		<main id="main-container">

			<!-- Page Content -->
			<div class="content">
				<div class="row">
					<div class="col-md-6 col-xl-3">
						<!-- Default Position -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Cash Balance</div>
								<div class="text-center py-4">
									<i class="fa fa-money-bill-wave fa-3x text-muted push"></i>
									<h4 class="mb-0">
										<a href="#modal-new-capital" data-bs-toggle="modal">
											<%-  parseFloat(sqlCashDeposit[0].CASH_DEPOSIT + sqlAccountDeposit[0].ACCOUNT_DEPOSIT - sqlCashWithdraw[0].CASH_WITHDRAW).toLocaleString() %>
										</a>
									</h4>
								</div>
							</div>
						</div>
						<!-- END Default Position -->
					</div>
					<div class="col-md-6 col-xl-3">
						<!-- Bottom Right -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">CC Chips</div>
								<div class="text-center py-4">
									<i class="fa fa-coins fa-3x text-muted push"></i>
									<h4 class="mb-0">
										<%-  parseFloat(sqlAccountCCChips[0].TOTAL_CC).toLocaleString() %>
									</h4>
								</div>
							</div>
						</div>
						<!-- END Bottom Right -->
					</div>
					<div class="col-md-6 col-xl-3">
						<!-- Top Left -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">NN Chips</div>
								<div class="text-center py-4">
									<i class="fa fa-coins fa-3x text-muted push"></i>
									<h4 class="mb-0">
										<%-  parseFloat(sqlAccountNNChips[0].TOTAL_NN).toLocaleString() %>
									</h4>
								</div>
							</div>
						</div>
						<!-- END Top Left -->
					</div>
					<div class="col-md-6 col-xl-3">
						<!-- Bottom Right -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Total Chips</div>
								<div class="text-center py-4">
									<i class="fa fa-equals fa-3x text-muted push"></i>
									<h4 class="mb-0">
										<%-  parseFloat(sqlAccountCCChips[0].TOTAL_CC + sqlAccountNNChips[0].TOTAL_NN).toLocaleString() %>
									</h4>
								</div>
							</div>
						</div>
						<!-- END Bottom Right -->
					</div>
					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Deposit</div>
								<div class="text-center py-4">
									<i class="fa fa-plus fa-3x text-muted push"></i>
									<h4 class="mb-0">
										<%-  parseFloat(sqlCashDeposit[0].CASH_DEPOSIT + sqlAccountDeposit[0].ACCOUNT_DEPOSIT).toLocaleString() %>
									</h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>
					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Marker</div>
								<div class="text-center py-4">
									<i class="fa fa-money-check fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlMarkerIssueGame[0].TOTAL_ISSUE_GAME + sqlMarkerIssueAccount[0].TOTAL_ISSUE_RECORD).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>
					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Commission</div>
								<div class="text-center py-4">
									<i class="fab fa-percent fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlCommision).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>

					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Share</div>
								<div class="text-center py-4">
									<i class="fa fa-share fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlShared).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>

					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Total Rolling</div>
								<div class="text-center py-4">
									<i class="fa fa-ticket fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlTotalRolling[0].TOTAL_ROLLING - sqlTotalCashOutRolling[0].TOTAL_CASHOUT).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>

					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">House Rolling</div>
								<div class="text-center py-4">
									<i class="fa fa-house fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlTotalRealRolling[0].TOTAL_REAL_ROLLING).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>

					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">House Win / Lose</div>
								<div class="text-center py-4">
									<i class="fa fa-arrow-down-up-across-line fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlWinLoss[0].TOTAL_CASHIN - sqlTotalCashOut[0].TOTAL_CASHOUT).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>

					<div class="col-md-6 col-xl-3">
						<!-- Success Color -->
						<div class="block block-rounded">
							<div class="block-content block-content-full ribbon ribbon-bookmark ribbon-info">
								<div class="ribbon-box">Chips Total</div>
								<div class="text-center py-4">
									<i class="fab fa-equals fa-3x text-muted push"></i>
									<h4 class="mb-0"><%-  parseFloat(sqlAccountCCChips[0].TOTAL_CC + sqlAccountNNChips[0].TOTAL_NN).toLocaleString() %></h4>
								</div>
							</div>
						</div>
						<!-- END Success Color -->
					</div>
				</div>
			</div>
			<!-- END Page Content -->

		</main>
		<!-- END Main Container -->

		<%- include ('modals/Junket/new_capital') %>

		<%- include ('partials/footer'); -%>


		<script src="/assets/js/functions/capital.js"></script>

		<%- include ('partials/footer_html'); -%>