<%- include ('partials/header_html'); -%>

<head>
	<%- include ('partials/title_meta'); -%>

	<%- include ('partials/header_css'); -%>
</head>

<body>
	<div id="page-container"
		class="sidebar-o sidebar-scroll page-header-dark enable-page-overlay side-scroll page-header-fixed">

		<%- include ('partials/sidebar'); -%>
		<%- include ('partials/topbar'); -%>

		<!-- Main Container -->
		<main id="main-container">

			<!-- Page Content -->
			<div class="content">
				<!-- Summary -->
				<div class="row g-sm">
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-user-circle"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">152,500,000</span>
											<p class="fw-light text-primary">Cash Balance</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-flag"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">2,500,000</span>
											<p class="fw-light text-primary">Deposit</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-envelope-open"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">Marker Balance</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-sticky-note"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">47,700,000</span>
											<p class="fw-light text-primary">NN Chips</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-bookmark"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">2,000,000</span>
											<p class="fw-light text-primary">CC Chips</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-chart-bar"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">49,700,000</span>
											<p class="fw-light text-primary">Total Chips</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="row g-sm">
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-user-circle"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">Commission</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-flag"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">Share</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-envelope-open"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">50,000,000</span>
											<p class="fw-light text-primary">Total Rolling (MC)</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-sticky-note"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">2,300,000</span>
											<p class="fw-light text-primary">House Rolling</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-bookmark"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">300,000</span>
											<p class="fw-light text-primary">House Win/Lose</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-chart-bar"></i>

										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">49,700,000</span>
											<p class="fw-light text-primary">Total Chips</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="row g-sm">
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-user-circle"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">Main Cage Buy In</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-flag"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">CC RETURN</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-envelope-open"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">NN RETURN</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-sticky-note"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">0.00</span>
											<p class="fw-light text-primary">Balance</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-bookmark"></i>
										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">300,000</span>
											<p class="fw-light text-primary">House Win/Lose</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 col-xl-2">
						<a class="block block-rounded text-center" href="javascript:void(0)">
							<div class="block-content block-content-full ratio ratio-16x9">
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-chart-bar"></i>

										<div class="fw-semibold mt-3 text-uppercase">
											<span class="text-primary">49,700,000</span>
											<p class="fw-light text-primary">Total Chips</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- END Summary -->

			</div>
			<!-- END Page Content -->


		</main>
		<!-- END Main Container -->

		<%- include ('partials/footer'); -%>

		<%- include ('partials/footer_html'); -%>