<%- include ('../partial/header') %>

<!-- Main Container -->
<main id="main-container">
  <!-- Page Content -->
  <div class="content">
    <!-- Dynamic Table Responsive -->
    <div class="block block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title">
          <small>Accounts / Account Ledger</small>
        </h3>
        <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <button type="button" class="btn btn-primary" onclick="addAccount()">
              <i class="fa fa-plus" aria-hidden="true"></i> New Record
            </button>
          </ol>
        </nav>        
      </div>
      <div class="block-content block-content-full">
        <!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
        <table id="account-tbl" class="table table-bordered table-vcenter js-dataTable-responsive">
          <thead>
            <tr>
              <th class="d-none d-sm-table-cell" >ACCOUNT CODE</th>
              <th class="d-none d-sm-table-cell">AGENCY LINE</th>
              <th class="d-none d-sm-table-cell">AGENT CODE</th>
              <th class="d-none d-sm-table-cell">NAME</th>
              <th class="d-none d-sm-table-cell">MEMBERSHIP No</th>
              <th class="text-center" style="width: 150px;">STATUS</th>
              <th class="text-center" style="width: 100px;">ACTION</th>       
            </tr>
          </thead>
          <tbody>
                   

          </tbody>
        </table>
      </div>
    </div>
    <!-- Dynamic Table Responsive -->
  </div>
  <!-- END Page Content -->
</main>
<!-- END Main Container -->

<%- include ('../modals/accounts/new_account') %>
<%- include ('../modals/accounts/edit_account') %>
<%- include ('../modals/accounts/account_details'); %>

<%- include ('../partial/footer') %>

<!-- <script src="/assets/js/datatables/account_ledger_tables_datatables.min.js"></script> -->

<script src="/assets/js/datatables/account_details_tables_datatables.min.js"></script>
<script src="/assets/js/functions/account.js"></script>

<%- include ('../partial/ending') %>