<div class="modal fade" id="modal-user-roles" role="dialog" aria-labelledby="modal-user-roles" aria-hidden="true"
	data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="block-title text-white"><%= __('user_roles.user_roles') %></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-between align-items-center mb-3">
					<h6 class="mb-0"><%= __('user_roles.user_roles') %></h6>
					<button class="btn btn-sm btn-primary" onclick="openNewRoleModal()">
						<i class="fa fa-plus" aria-hidden="true"></i> <%= __('user_roles.new_role') %>
					</button>
				</div>
				<table id="userRoleTable" class="table nowrap small-text" style="width:100%">
					<thead>
						<tr>
							<th class="d-none d-sm-table-cell"><%= __('user_roles.role') %></th>
							<th class="d-none d-sm-table-cell" style="width: 150px;"><%= __('user_roles.status') %></th>
							<th class="d-none d-sm-table-cell" style="width: 100px;"><%= __('user_roles.action') %></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

