<%- include ('../partial/main') %>

<head>
    <%- include ('../partial/header-css') %>
    <%- include ('../partial/title-meta') %>
</head>

<body>
    <div id="page-container" class="sidebar-o side-scroll page-header-fixed page-header-dark">

    <%- include('../partial/sidebar.ejs') %>
    <%- include('../partial/topbar.ejs') %>


    <%- include ('../partial/footer.ejs') %>
    <%- include ('../partial/vendor-script.ejs') %>


    </div>
</body>
</html>